@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hind+Vadodara&display=swap');


h2 {
    background-color: #93827F;
    margin-bottom: -20px;
    font-family: Architects Daughter, cursive, serif;
    padding: 0.4em;
    font-weight: bold;
  }
  
p {
    line-height: 1.4em;
    font-weight: bold;
  }
  
#content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}
  .home-paragraph-3 {
    text-align: center;
  }
  body {
    background-color: #BDC4A7;
    font-family: Garamond, Georgia, serif;
  }
  nav a {
    color: blue;
    font-size: 1.1em;
  }
  nav {
    border-width: 1em;
    border-color: #949599;
  }
  
  main {
    background-color: #BDC4A7;
    padding: 1em;
  }
  
  .banner-box img {
    width: 100%;
  }
  
  .home-grid {
    padding: 1em;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  .home-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
  }
  .home-paragraph-1 {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .home-right-img {
    max-width: 100%;
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .home-headline-2 {
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: center;
  }
  .home-paragraph-2 {
    grid-column: 2/4;
    grid-row: 6/8;
  }
  .home-left-img {
    max-width: 100%;
    grid-column: 4/6;
    grid-row: 6/8;
  }
  img {
    max-width: 100%;
  }
  header {
    display: grid;
    grid-template-columns: 110px auto;
    background-color: #F3F9D2;
    align-items: center;
  }
  nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0;
  }
  
  /* mouse over link */
  nav a:hover {
    background-color: white;
  }
  
  /* visited link */
  nav a:visited {
    color: purple;
  }
  footer {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    max-height: 55px;
    background-color: #F3F9D2;
    text-align: center;
  }
  .social {
    padding: 1em;
    text-align: right;
    margin: -20px;
  }
  
  .logo-box {
    background-color: #92B4A7;
    border-radius: 25px 25px 25px 25px;
    padding: 0.5em;
    border: 1px solid #a43312;
  }
  
  h2 {
    border-top: 5px double;
    border-bottom: 5px double;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 550px) {
    /* beginning of media query */
    .home-grid,
    nav ul,
    .banner-box {
      display: block;
    }
  
    /* end of media query */
  }